<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=localhost;port=3306;database=2Late2Care;uid=user;password=password;" />
  </connectionStrings>
</configuration>